.info-inicio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.info-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.info-image img {
  min-width: 200px;
}

.info-text {
  flex: 1;
  text-align: center;
  padding: 0 2rem;
  min-width: 200px;
}

.gratis-tag {
  font-size: 2rem;
  font-weight: bold;
  color: #c4e538;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.info-text h2 {
  font-size: 1.2rem;
  /* margin-bottom: 1.5rem; */
  color: #333;
}

.info-text p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}