.crearCuenta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.crearCuenta-logo {
  width: 100px;
  cursor: pointer;
  margin-bottom: 20px;
}

.crearCuenta-title {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.crearCuenta-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.crearCuenta-input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.crearCuenta-error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.crearCuenta-submitButton {
  background-color: #b4f51b;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.crearCuenta-submitButton:hover {
  background-color: #a3e418;
}

.crearCuenta-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.crearCuenta-link {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}
