img {
  max-width: 10rem;
}

header nav {
  background: #f0f1a7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}
aside {
  width: 25%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: dodgerblue;
  float: left;
}
.content {
  background-color: green;
  margin-left: 25%;
}

.infoInicio {
  background-color: aquamarine;
  display: flex;
}
.infoInicio img,
.infoInicio p {
  background-color: blueviolet;
  width: 30rem;
  margin: 0 auto;
}
.rotuloInicio {
  background-color: chartreuse;
}
.funcionalidadesInicio {
  background-color: chocolate;
}
footer > p {
  background-color: cadetblue;
  text-align: center;
}
footer > a {
  background-color: crimson;
}
.linkFooter {
  display: flex;
  justify-content: space-around;
  background-color: red;
}
