/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

img {
  max-width: 10rem;
}

header nav {
  background: #f0f1a7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}
aside {
  width: 25%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: dodgerblue;
  float: left;
}
.content {
  background-color: green;
  margin-left: 25%;
}

.infoInicio {
  background-color: aquamarine;
  display: flex;
}
.infoInicio img,
.infoInicio p {
  background-color: blueviolet;
  width: 30rem;
  margin: 0 auto;
}
.rotuloInicio {
  background-color: chartreuse;
}
.funcionalidadesInicio {
  background-color: chocolate;
}
footer > p {
  background-color: cadetblue;
  text-align: center;
}
footer > a {
  background-color: crimson;
}
.linkFooter {
  display: flex;
  justify-content: space-around;
  background-color: red;
}
